.MustReadContainer {
  position: relative;
}
.MustRead {
  padding: 90px 45px 20px 45px;
  box-sizing: border-box;
}

.MustReadSmallCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 100%;
}
@media (max-width: 1024px) {
  .MustReadSmallCard {
    grid-template-columns: repeat(2, 1fr);
  }
}
