h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}
.SmallCardContainer {
  width: 100%;
}
.SmallCard {
  cursor: pointer;
}
.SmallCardBox {
  width: 100%;
}
.SmallCardTextBox {
  padding-top: 25px;
}
.SmallCardTextTitle {
  font-size: 14px;
}
.SmallCardBox img {
  width: 100%;
  object-fit: contain;
}

/* 1/1 비율일 때 */
.SmallCardBox.square img {
  width: 280px;
  height: 280px;
  object-fit: cover;
}
.SmallCardBox.small img {
  width: 280px; /* swiperClass가 true일 때 300px 크기 */
}

.SmallCardTextBottom h2 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}

.SmallCardTextBottom h2:hover {
  text-decoration: underline;
}

/* 하단 회색 글씨 */
.date-text,
.author-text {
  color: gray;
  font-size: 12px;
}

.fontSize10 {
  color: gray;
  padding: 0 5px;
  font-size: 8px;
}

.date-author-container {
  display: flex;
  align-items: center;
}
