.BestStoriesContainer {
  position: relative;
}
.BestStories {
  padding: 90px 45px 20px 45px;
  box-sizing: border-box;
}

.BestStoriesContainer::before {
  content: "";
  position: absolute;
  width: 100vw;
  margin-top: 280px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(209, 209, 209, 0.3);
  z-index: -1;
}

.BestStoriesSwiper {
  display: flex;
  justify-content: center;
  align-items: center;
}
