.header {
  background-color: white;
  padding: 8px 80px 30px 80px;
  width: 100%;
  height: 220px;
  box-sizing: border-box;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.3s;
}
body {
  padding-top: 220px;
}
.hidden {
  top: -220px; /* 화면 밖으로 밀어냄 */
}

.visible {
  top: 0;
}

.header-nav li {
  list-style: none;
  margin: 0;
  padding: 0px 18px 0px 18px;
  font-weight: bold;
  font-size: 18px;
}
li {
  outline: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
h4 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerTitle h4 img {
  padding-top: 25px;
  width: 350px;
  height: 130px;
}

.headercontent {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}
.header-nav {
  /* margin-top: 25px; */
  z-index: 5;
}

.rightBox {
  display: flex;
  position: absolute;
  top: 78px;
  right: 45px;
  z-index: 20;
}
.subBtn {
  background-color: black;
  color: white;
  padding: 3px 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hamburgerBtn {
  font-size: 30px;
  padding-left: 30px;
  cursor: pointer;
}

/* select box 만들기 */
.selectBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectOptions {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  padding-right: 0px;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  letter-spacing: 2px;
  padding: 10px 5px;
  font-size: 13px;
}

/* 화살표 스타일 추가 */
.selectBox::after {
  content: "▼";
  position: absolute;
  right: 170px;
  top: 0px;
  font-size: 13px;
  pointer-events: none;
  transform: translateY(55%) rotate(0deg);
  transition: transform 0.3s ease;
}
.selectBox.open::after {
  transform: translateY(65%) rotate(180deg);
}
@media (max-width: 1024px) {
  .header-nav li {
    font-size: 16px;
  }
  .subBtn {
    display: none;
  }
  .headercontent {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
  }
  header {
    padding: 0px 0px 40px 40px !important;
    height: 200px !important;
  }
  body {
    padding-top: 200px;
  }
  .headerTitle h4 {
    justify-content: left;
    padding-left: 18px;
  }
  .selectBox::after {
    content: "▼";
    position: absolute;
    right: 65px;
    top: 0px;
    font-size: 13px;
    pointer-events: none;
    transform: translateY(55%) rotate(0deg);
    transition: transform 0.3s ease;
  }
}
@media (max-width: 768px) {
  header {
    padding: 0px 0px 40px 40px !important;
    height: 180px !important;
  }
  body {
    padding-top: 180px;
  }
  .header-nav {
    padding-left: 10px;
  }
  .header-nav li {
    padding: 0px 8px 0px 8px;
    font-size: 15px;
  }
  .subBtn {
    display: none;
  }
  .headercontent {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
  }
  header {
    padding: 8px 80px 30px 0px;
  }

  .headerTitle h4 {
    justify-content: left;
    padding-left: 18px;
  }
  .selectBox::after {
    content: "▼";
    position: absolute;
    right: 55px;
    top: 0px;
    font-size: 13px;
    pointer-events: none;
    transform: translateY(55%) rotate(0deg);
    transition: transform 0.3s ease;
  }
  .headerTitle h4 img {
    padding-top: 30px;
    width: 250px;
    height: 80px;
    padding-bottom: 25px;
  }
  .rightBox {
    right: 25px;
  }
  .hamburgerBtn {
    padding-left: 15px;
  }
}
@media (max-width: 480px) {
  header {
    padding: 0px !important;
    height: 180px !important;
  }
  body {
    padding-top: 180px;
  }
  .header-nav {
    padding-left: 10px;
  }
  .header-nav li {
    padding: 0px 5px 0px 5px;
    font-size: 13px;
  }
  .rightBox {
    display: flex;
    position: absolute;
    top: 45px;
    right: 15px;
    z-index: 20;
  }
  .selectBox::after {
    content: "▼";
    position: absolute;
    right: 45px;
    top: 0px;
    font-size: 13px;
    pointer-events: none;
    transform: translateY(55%) rotate(0deg);
    transition: transform 0.3s ease;
  }
  .hamburgerBtn {
    padding-left: 10px;
  }
  .headerTitle h4 {
    font-size: 14px;
  }

  .headerTitle h4 img {
    width: 200px;
  }

  .selectOptions {
    font-size: 12px;
  }
  header {
    height: 180px;
  }
}
