.FashionContainer {
  background-color: white;
}
.Fashion {
  padding: 90px 45px 20px 45px;
  box-sizing: border-box;
}

.FashionLeft {
  width: 38%;
}

.FashionRight {
  width: 59%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.FashionCardBox {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  overflow: hidden;
}

/* 반응형 스타일 */

@media (max-width: 1200px) {
  .MidCardTextBox {
    padding: 20px 20px 35px 20px !important;
  }
}

@media (max-width: 768px) {
  .FashionCardBox {
    flex-direction: column;
  }
  .FashionCardBox {
    .FashionRight {
      grid-template-columns: 1fr;
      gap: 20px;
      width: 100%;
    }
    .FashionLeft {
      width: 100%;
      padding-bottom: 15px;
      order: -1;
    }
    .SmallCardTextBox {
      width: 50%;
      padding-top: 0px;
    }

    .Fashion {
      padding: 50px 20px 10px 20px;
    }

    .SmallCard {
      display: flex;
      width: 100%;
    }
    .SmallCardBox {
      width: 50% !important;
    }
    .SmallCardTextBox {
      padding-left: 15px;
    }
    .SmallCardTextBottom h2 {
      font-size: 16px;
    }
    .MidCardTextBottom h2 {
      font-size: 18px;
    }
  }
}

@media (max-width: 480px) {
  .FashionCardBox {
    align-items: center;

    .Fashion {
      padding: 30px 15px 10px 15px;
    }

    .FashionRight {
      grid-template-columns: 1fr;
    }

    .SmallCardTextBottom h2 {
      font-size: 12px;
    }
  }
}
