html,
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 1280px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  min-height: 500px;
}

.DetailPageContent {
  padding: 10px 45px 20px 45px;
}

.my_footer {
  margin-top: auto;
}

.DetailAllWrap {
  display: flex;
  justify-content: space-between;
}
.DetailNotSticky {
  width: 68%;
}
.DetailPageSticky {
  width: 30%;
  position: relative;
  overflow: visible;
  cursor: pointer;
}

.DetailPageSticky img {
  width: 100%;
  position: sticky;
  top: 0px;
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: 0;
}

.MidCardsWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  .DetailPageSticky {
    display: none;
  }
  .DetailNotSticky {
    width: 100%;
    .MidCardsWrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}
@media (max-width: 768px) {
  .DetailNotSticky {
    width: 100%;
    .DetailMidImgLeft {
      width: 100%;
    }
    .DetailRight {
      padding-top: 20px;
    }
  }
  .DetailPageContent {
    padding: 10px 15px 20px 15px;
  }
}
