header {
  position: relative;
  background-color: white;
  padding: 8px 80px 30px 80px;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
  height: 220px;
}

.header-nav li {
  list-style: none;
  margin: 0;
  padding: 0px 18px 0px 18px;
  font-weight: bold;
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
h4 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerTitle h4 img {
  padding-top: 25px;
  width: 300px;
  height: auto;
}

.headercontent {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}
.header-nav {
  margin-top: 25px;
  z-index: 5;
}

.rightBox {
  display: flex;
  position: absolute;
  top: 78px;
  right: 45px;
  z-index: 20;
}
.subBtn {
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hamburgerBtn {
  font-size: 30px;
  padding-left: 30px;
  cursor: pointer;
}

/* select box 만들기 */
.selectBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectOptions {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  padding-right: 0px;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  letter-spacing: 2px;
  padding: 10px 5px;
  font-size: 13px;
}

/* 화살표 스타일 추가 */
.selectBox::after {
  content: "▼";
  position: absolute;
  right: 170px;
  top: 0px;
  font-size: 13px;
  pointer-events: none;
  transform: translateY(55%) rotate(0deg);
  transition: transform 0.3s ease;
}
.selectBox.open::after {
  transform: translateY(65%) rotate(180deg);
}
