html,
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  margin-top: 220px;
  min-height: 500px;
}

.my_footer {
  margin-top: auto;
}

.content {
  background-color: blue;
}

@media (max-width: 480px) {
  .content {
    margin-top: 180px;
  }
}
