html,
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 220px !important;
}
a:focus,
div:focus {
  outline: none;
}
@media (max-width: 1024px) {
  body {
    padding-top: 180px !important;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
}

.content {
  flex: 1;
  /* padding-top: 220px; */
  min-height: 500px;
}

.my_footer {
  margin-top: auto;
}
