.DetailContainer {
  background-color: white;
}

.DetailLeft {
  width: 100%;
}
.DetailMidImgLeft {
  width: 38%;
}
.DetailRight {
  width: 59%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.fashionTrendBox {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.fashionItemBox {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.cardBox {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  overflow: hidden;
}

/* 반응형 스타일 */

@media (max-width: 1200px) {
  .MidCardTextBox {
    padding: 20px 20px 35px 20px !important;
  }
  .fashionTrendBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    .SmallCardTextBox {
      padding-top: 15px;
    }
  }
  .fashionItemBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    .SmallCardTextBox {
      padding-top: 15px;
    }
  }
}

@media (max-width: 768px) {
  .cardBox {
    flex-direction: column;
  }
  .cardBox {
    .DetailRight {
      grid-template-columns: 1fr;
      gap: 20px;
      width: 100%;
    }
    .DetailLeft {
      width: 100%;
      padding-bottom: 15px;
    }
    .SmallCardTextBox {
      width: 50%;
      padding-top: 0px;
    }

    .Detail {
      padding: 50px 20px 10px 20px;
    }

    .SmallCard {
      display: flex;
      width: 100%;
    }
    .SmallCardBox {
      width: 50% !important;
    }
    .SmallCardTextBox {
      padding-left: 15px;
    }
    .SmallCardTextBottom h2 {
      font-size: 16px;
    }
    .MidCardTextBottom h2 {
      font-size: 18px;
    }
  }
  .fashionTrendBox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .SmallCard {
      display: flex;
    }
    .SmallCardBox {
      width: 50%;
    }
    .SmallCardTextBox {
      width: 50%;
      padding: 0px 0px 0px 15px;
    }
  }
}

@media (max-width: 480px) {
  .cardBox {
    align-items: center;

    .Detail {
      padding: 30px 15px 10px 15px;
    }

    .DetailRight {
      grid-template-columns: 1fr;
    }

    .SmallCardTextBottom h2 {
      font-size: 12px;
    }
  }
}
